.footer{
    padding: 40px 60px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    margin-top: 82px;
    display: flex;
    justify-content: end;
}
.footer-social__item {
    margin-left: 18px;
}
.footer-social__link {
    background: $base-color;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}