.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu__link {
    color: $base-color;
}
.menu__item {
    text-transform: uppercase;
}
.menu-burger {
    display: none;
}
.menu-burger span {
    background: $base-color;
}
.menu-header__burger-close {
    color: $base-color;
    position: absolute;
    top: 20px;
    right: 40px;
    display: none;
}
.footer-menu__list .menu__item {
    margin-left: 20px;
}
.header-menu__list .menu__item {
    margin-left: 40px;
}