.navbar__list{
    display: flex;
}
.navbar__item {
    margin-right: 16px;
    text-transform: uppercase;

}
.navbar__item--active{
    background: #7c8f8f;
    border: 1px solid #274544;
}
.navbar__link{
    font-size: 18.14px;
}
.navbar-header__link {
    color: $white-color;
}
.navbar-header__burger  {
    display: none;
}
.navbar-header__burger span {
    background: $white-color;
}

.navbar-header__burger-close {
    color: $white-color;
    position: absolute;
    top: 20px;
    right: 40px;
    display: none;
}

