// width

@media screen and (max-width: 1536px) {
    .members {
        background-size: contain;
    }
}
@media screen and (max-width: 1344px) {
    .members {
        background-size: 60% 100%;
    }
    .contact-form__commments textarea {
        width: 100%;
    }
}
@media screen and (max-width: 1240px) {
    .logo__link-header {
        margin-right: 0;
    }
    .main-text {
        width: auto;
    } 
}

@media screen and (max-width: 1080px) {
    .main-content {
        width: 60%;
    }
    .main-text {
        font-size: 24px;
        line-height: initial;
    }
    .main-title {
        font-size: 70px;
    }
    .logo-white{
        width: 100px;
    }
    .navbar__link{
        font-size: 16px;
    }
    .header {
        flex-direction: column;
    }
    .navbar-header__list{
        padding-left: 0;
    }

    .description-subtitle {
        width: 100%;
    }
    .description-item {
        width: 300px;
    }

    .members-wrapper {
        padding-left: 0px;
    }
    .footer-social {
        margin-top: 10px;
    }
}
@media screen and (max-width: 960px){
    .description-item {
        width: 100%;
        padding: 20px;
        margin: 0;
    }
    .members-wrapper {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .members-btn{
        width: 100%;
        height: auto;
    }
    .members-title {
        font-size: 34px;
    }
    .members-title span {
        font-size: 37px;
    }
    .members-wrapper {
        width: 40%;
        padding-right: 10px;
    }
    .description-content .slick-slide:nth-child(even) {
        padding: 0;
    }
    .header-menu__list .menu__item {
         margin-left: 20px;
         font-size: 21px;
    }
    .page-main-title {
        font-size: 36.87px;
    }
}
@media screen and (max-width: 860px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .main-slider {
        display: none;
    }
    .main-content {
        width: 100%;
    }
    .main-title {
        text-align: center;
    }
    .main-text {
        text-align: center;
    }
    .main-button {
        margin: 0 auto;
    }
    .events-news__title {
        font-size: 24px;
    }
    .events-news__read-all {
        font-size: 14px;
    }
    .events-news__item-link {
        font-size: 17px;
        height: 40px;
    }
    .events-news__item-content{
        padding: 10px;
    }
    .events-news__side {
        padding: 10px;
    }
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .footer-social {
        justify-content: center;
        margin-top: 31px;
        padding-left: 0;
    }
    .footer-menu__list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-menu__item {
        margin-top: 16px;
    }
}
@media screen and (max-width: 800px){
    .header-secondary__wrapper{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 760px){
    .header-menu__list .menu__item {
        margin-left: 15px;
    }
    .menu__list {
        padding-left: 0;
    }
}

@media screen and (max-width: 680px){
    .header {
        flex-direction: column;
    }
    .footer-menu__item {
        width: 100%;
        text-align: center;
    }
    .header-menu__list .menu__item {
        font-size: 16px;
    }
    #menu-burger {
        display: flex;
    }
    .menu-header__burger-close {
        display: block;
    }
    .header-menu {
        background: $white-color;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 50px;
        width: 100%;
        display: none;
    }
    .header-menu__list {
        flex-direction: column;
    }
    .header-menu__list .menu__item {
        margin: 15px 0;
        a {
            font-size: 21px;
        }
    }
    .header-secondary__wrapper {
        flex-direction: row;
    }
    
}
@media screen and (max-width: 600px) {
    .description-content__slider .slick-dots {
        overflow-x: auto;
        padding: 0;
    }
    .description-content__slider .slick-dots li + li {
        margin-left: 15px;
    }
    .contact-info__content{
        flex-direction: column;
        align-items: center;
    }
    .contact-info__title {
        padding-top: 20px;
        text-align: center;
    }
    .page-title {
        font-size: 24px;
    }
    .contact-info__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-info__img {
        margin-right: 0px;
    }
    .contact-form__title {
        font-size: 28.6624px;
        line-height: initial;
    }
    .contact-form__name {
        display: block;
    }
    .contact-form__submit {
        width: 100%;
        padding: 20px;
    }
}
@media screen and (max-width: 550px){
    .header {
        flex-direction: row;
    }
    .navbar-header__burger {
        display: flex;
    }
    .navbar-header {
        display: none;
    }
    .navbar-header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background: $base-color;
    }
    .navbar-header__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px
    }
    .navbar-header__item {
        margin-bottom: 16px;
    }
    .navbar-header__burger-close {
        display: block;
    }
    .navbar-header__burger {
        display: flex;
    }
    .main-button {
        width: 100%;
    }
    .events-news__wrapper {
        flex-direction: column;
    }
    .events-news__side {
        max-width: 100%;
    }

    .members {
        background-size: 0 0;
    }
    .members-wrapper {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 460px){
    .main-title {
        font-size: 46px;
    }
}

// height
@media screen and (max-height: 900px) {
    .main-title{
        font-size: 88px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .main-text {
        margin-bottom: 50px;
    }
  }

@media screen and (max-height: 800px) {
    .main-title{
        font-size: 80px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .main-text {
        margin-bottom: 40px;
    }
  } 
@media screen and (max-height: 715px)  {
    .main-title {
        font-size: 62px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-height: 660px) {
    .main-text {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 30px;
    }
  }
  @media screen and (max-height: 560px){
    .header {
        padding-top: 0;
    }
}
@media screen and (max-height: 500px){
    .main-title {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-text {
        font-size: 16px;  
        line-height: initial;
    }
}