*,
*::before,
*::after {
	box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
    border: none;
    background: transparent;
    outline: inherit;
}
html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
	position: relative;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: $base-color;
}

body {
	font-size: 1rem;
}
ul{
    list-style: none;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
    max-width: 1360px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}


