.btn-default {
    background: $white-color;
    color: $base-color;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    font-size: 30.61px;
    display: flex;
    align-items: center;
    justify-content: center;
}