// global
@import "./base/normalize";
@import "./global/vars";
@import "./global/fonts";
@import "./base/libs";
@import './global/glboal';


// elements 
@import './elements/button-default';
@import './elements/page-subtitle';
@import './elements/page-title';
@import './elements/page-main-title';
@import './elements/btn-burger';

// partials
@import './partials/header';
@import './partials/footer';
@import './partials/menu';
@import './partials/navbar';

/* logo */
.logo__link-header {
    margin-right: 66px;
} 

/* main page */
.main {
    background: $base-color;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}
.main-wrapper{
    display: flex;
    overflow: hidden;
}
.main-title {
    margin-top: 80px;
    margin-bottom: 80px;
}
.main-text {
    width: 801px;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 88px;
    color: $white-color;
}
.main-button{
    width: 420px;
    height: 80px;
}

.main-slider {
    position: relative;
    width: 100%;
}
.main-slider .slick-dots  {
    bottom: 0;
    position: absolute;
    left: -80px;
}
.main-slider .slick-dots button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $white-color;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-size: 0;
    margin-bottom: 20px;
}
.main-slider .slick-dots .slick-active button{
    opacity: 1;
    
}
.main-slider__content {
    max-width: 600px;
}

.main-slider__item{
    position: relative;
    overflow: hidden;
    width: 500px;
}
.main-slider__image{
    position: absolute;
    top: 0;
    height: 100%;
    right: -80px;
    width: calc(100% + 80px);
    overflow: hidden;
}

// description page 
.description-title{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
}
.description-subtitle{
    text-align: center;
    width: 990px;
    margin: 0 auto;
}
.description-content{
    margin-top: 102px;
}
.description-content .slick-slide {
    display: flex;
    justify-content: center;
}
.description-items {
    display: flex;
    justify-content: center;
}
.description-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    text-align: center;
}
.description-item:nth-child(even){
    margin: 0 102px;
    padding-bottom: 180px;
}
.description-item__slide {
    max-width: 340px;
}

.description__item-text{
    font-weight: 500;
    height: 250px;
    overflow-y: scroll;
    margin-top: 58px;
}

.description__item-text::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.description-btn__active {
    opacity: 1;
}

.description-content__slider .slick-dots {
    display: flex;
    justify-content: center;
}
.description-content .slick-slide:nth-child(even){
    padding-top: 80px;
}
.description-content__slider .slick-dots li + li {
    margin-left: 61px;
}
.description-content__slider .slick-dots button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .5;
    background: $base-color;
    font-size: 0;
}
.description-content__slider .slick-dots .slick-active button {
    opacity: 1;
}
// events & news page 
.events-news {
    margin-top: 125px;
}
.events-news__wrapper {
    display: flex;
    justify-content: space-between;
}
.events-news__title {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}
.events-news__side {
    max-width: 50%;
    width: 100%;
    padding: 90px 45px;
}
.events-news__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
}
.events-news__read-all{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.events-news__item{
    margin-bottom: 62px;
    max-width: 589px;
    width: 100%;
}
.events-news__item-img{
    max-height: 391.22px;
    height: 100%;
    max-width: 589px;
    width: 100%;
}
.events-news__item-content {
    padding: 35px 15px;
    display: block;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    height: 139px;
    height: 100%;
}
.events-news__item-link {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: scroll;
    max-height: 69px;
    max-width: 547px;
    width: 100%;
    height: 69px;
    display: block;
}
.events-news__item-link::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.events-news__line {
    height: 8px;
    width: 100%;
    background: $base-color;
}

// members page

.members {
    width: 100%;
    background-color: $base-color;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
}
.members-wrapper{
    width: 350px;
    padding-top: 120px;
    padding-bottom: 75px;
    padding-left: 40px;
}
.members-title{
    font-weight: 500;
    font-size: 60px;
    color: $white-color;
    margin-bottom: 60px;
}
.members-title span {
    font-size: 60px;
    font-weight: 700;
    color: $white-color;
    text-transform: uppercase;
}
.members-btn {
    width: 350px;
    height: 90px;
}

.d-none{
    display: none;
}

//  contact-page us page
.contact-main {
    background-color: $base-color;
    width: 100%;
}
.contact-main__wrapper {
    padding: 20px 40px;
    background-position: -182px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-main__title {
    color: $white-color;
}
//  map page
.map iframe{
    width: 100%;
    height: 60vh;
}

// contact-page info 
.contact-info__title{
    padding-top: 20px;
}
.contact-info__content {
    display: flex;
    min-width: 100%;
    margin-top: 95px;
    margin-bottom: 75px;
}
.contact-info__item{
    width: 50%;
    display: flex;
    align-items: center;
}
.contact-info__img {
    margin-right: 30px;
    img {
        width: 40px;
        height: 40px;
    }
}
.contact-info__item-content {
    max-width: 300px;
}
.contact-info__item-content h4 {
    font-weight: 700;
    font-size: 25.9856px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}
.contact-info__item-content p {
    font-weight: 500;
}

// contact-form page
.contact-form__wrapper {
    background: $base-color;
    padding: 30px 50px;
}
.contact-form__title {
    font-weight: 700;
    font-size: 40.6624px;
    line-height: 50px;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 50px;
}
#contact-form {
    color: $white-color;
}
#contact-form fieldset {
    border: none;
    margin: 0;
    padding: 0; 
}
#contact-form .contact-form__name label {
    font-weight: 500;
    font-size: 17.2311px;
    line-height: 21px; 
} 
#contact-form .contact-form__checkbox label {
    margin: 10px 0;
} 
#contact-form input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
#contact-form label {
    font-weight: 600;
    font-size: 19.2477px;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-form__name {
    display: flex;
    justify-content: space-between;
    label {
        width: 49%;
    }
}
.contact-form__checkbox label{
    display: flex;
    align-items: center;
}
#contact-form .contact-form__checkbox input{
    width: 20px;
    margin-right: 34px;
    position: relative;
    width: 0;
    height: 0;
}
#contact-form .contact-form__checkbox input::before{
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 16px;
    height: 16px;
    background: #fff;
    mix-blend-mode: normal;
    opacity: .5;
    border-radius: 50%;
}
#contact-form .contact-form__checkbox input:checked::before {
    opacity: 1;
}
.contact-form__commments {
    display: flex;
}
.contact-form__commments label {
    min-width: 100%;
    height: 259px;
    margin-bottom: 35px;
}
.contact-form__commments textarea {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 20px;
}
.contact-form__submit {
    width: 296px;
    height: 80px;
    margin: 35px auto;
}
.error-input {
    border: 1px solid red;
}

@import "./media/media";
